
vulkan-gui-test/main-test\.mm

vulkan-gui-test\.xcodeproj/project\.xcworkspace/xcuserdata/Hullabaloo\.xcuserdatad/UserInterfaceState\.xcuserstate

vulkan-gui-test\.xcodeproj/xcuserdata/Hullabaloo\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

*.xcuserstate

*.xcbkptlist

vulkan-demos/glfw-master-3.3/build/XCBuildData/
vulkan-demos.xcodeproj/project.xcworkspace/xcuserdata/
vulkan-demos/glfw-master-3.3/build/

