[submodule "vulkan-demos/assimp"]
	path = vulkan-demos/assimp
	url = https://github.com/assimp/assimp.git
[submodule "eastl"]
	path = vulkan-demos/utils/EASTL
	url = https://github.com/electronicarts/EASTL.git