[submodule "vulkan-demos/assimp"]
	path = vulkan-demos/assimp
	url = https://github.com/assimp/assimp.git
[submodule "eastl"]
	path = vulkan-demos/utils/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "eathread"]
	path = vulkan-demos/utils/EASTL/test/packages/EAThread 
	url = https://github.com/electronicarts/EAThread.git
[submodule "eaassert"]
	path = vulkan-demos/utils/EASTL/test/packages/EAAssert
	url = https://github.com/electronicarts/EAAssert.git